# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
media/

# Secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django production static output
staticfiles/

# Logs
*.log